anyio==4.6.0
argcomplete==3.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
Babel==2.10.3
bcc==0.29.1
bcrypt==3.2.2
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
boolean.py==4.0
Brlapi==0.8.5
Brotli==1.1.0
build==1.0.3
CacheControl==0.14.0
cadquery==2.5.2
cadquery-ocp==7.7.2
casadi==3.6.7
certifi==2023.11.17
cffi==1.17.1
chardet==5.2.0
cleo==2.1.0
click==8.1.6
colorama==0.4.6
comm==0.2.2
command-not-found==0.3
contourpy==1.3.1
crashtest==0.4.1
cryptography==41.0.7
cssselect==1.2.0
cssselect2==0.8.0
cupshelpers==1.0
cycler==0.12.1
cyclonedx-python-lib==8.5.0
Cython==3.0.12
dbus-python==1.3.2
debugpy==1.8.6
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
distro-info==1.7+build1
dnspython==2.6.1
dulwich==0.21.6
duplicity==2.1.4
et-xmlfile==1.1.0
executing==2.1.0
ezdxf==1.3.5
fasteners==0.18
fastimport==0.9.14
fastjsonschema==2.19.0
filelock==3.13.1
Flask==3.0.2
fonttools==4.56.0
fqdn==1.5.1
fsspec==2024.2.0
gpg==1.18.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.20.4
httpx==0.27.2
idna==3.6
importlib-metadata==4.12.0
installer==0.7.0
ipykernel==6.29.5
ipython==8.28.0
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.2.1
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==24.3.1
kiwisolver==1.4.8
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
license-expression==30.3.1
lief==0.15.1
lockfile==0.12.2
louis==3.29.0
lxml==5.2.1
Mako==1.3.2.dev0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.3
multimethod==1.12
mutagen==1.46.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==0.8.0
networkx==3.2.1
nlopt==2.9.0
notebook==7.2.2
notebook_shim==0.2.4
numpy==2.2.4
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.46
ooo-dev-tools==0.52.6
ooouno==3.0.0
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
overrides==7.7.0
packageurl-python==0.15.6
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
paramiko==2.12.0
parso==0.8.4
path==17.1.0
pexpect==4.9.0
pillow==11.1.0
pip-requirements-parser==32.0.1
pipx==1.4.3
pkginfo==1.9.6
platformdirs==4.2.0
pngquant==3.0.3
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.6.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.29
py==1.4.22
py-serializable==1.1.2
pyasyncore==1.0.2
pycairo==1.25.1
pycparser==2.22
pycryptodomex==3.20.0
pycups==2.0.1
pydyf==0.11.0
Pygments==2.17.2
PyGObject==3.48.2
pyinotify==0.9.6
PyJWT==2.7.0
pylev==1.4.0
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.2.1
pyphen==0.17.2
pyproject_hooks==1.0.0
pytest==2.6.0
python-apt==2.7.7+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.49+ubuntu2
python-json-logger==2.0.7
pytz==2025.1
pyxdg==0.28
PyYAML==6.0.1
pyzmq==26.2.0
referencing==0.35.1
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.7.1
rpds-py==0.20.0
seaborn==0.13.2
SecretStorage==3.3.3
Send2Trash==1.8.3
setuptools==68.1.2
shellingham==1.5.4
simplejson==3.19.2
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
stack-data==0.6.3
sympy==1.13.1
systemd-python==235
terminado==0.18.1
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
tomlkit==0.12.4
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
tornado==6.4.1
traitlets==5.14.3
triton==3.1.0
trove-classifiers==2024.1.31
types-python-dateutil==2.9.0.20241003
types-uno-script==0.1.1
types-unopy==2.0.0
typing_extensions==4.12.2
typish==1.9.3
tzdata==2025.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.2
unattended-upgrades==0.1
uno==0.3.3
unoserver==3.2
uri-template==1.3.0
urllib3==2.0.7
usb-creator==0.3.16
userpath==1.9.1
verr==1.1.2
virtualenv==20.25.0+ds
wadllib==1.3.6
wcwidth==0.2.13
weasyprint==65.1
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.1
wheel==0.42.0
xdg==5
xkit==0.0.0
yt-dlp==2024.4.9
zipp==1.0.0
zopfli==0.2.3.post1
